.NFOB{
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Button{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.Infos{
    background-color: black;
    color: white;
    background-position: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}