.NFOB{
    color: blue;
    font-family: Minecraft;
    src: url(font/Minecraft.ttf);
}
.Button{
    color: black;
    font-family: Minecraft;
    src: url(font/Minecraft.ttf);
}
.Infos{
    background-color: black;
    color: white;
    background-position: 20px;
    font-family: Minecraft;
    src: url(font/Minecraft.ttf);
}
